[*.cs]
# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none
# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = none
# IDE0069: Disposable fields should be disposed
dotnet_diagnostic.IDE0069.severity = none
